.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: rgba(30, 30, 46, 0.95);
    /* Semi-transparente */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    z-index: 1000;
    border-bottom: 1px solid #313244;
    backdrop-filter: blur(10px);
    /* Efeito de vidro */
}

.nav-logo {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.5rem;
    color: #89b4fa;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-family: 'Courier New', Courier, monospace;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #89b4fa;
}