.contact{
padding:100px 80px;
text-align:center;
}

form{
display:flex;
flex-direction:column;
gap:15px;
max-width:400px;
margin:auto;
}

input,textarea{
padding:12px;
border:none;
border-radius:6px;
background:#1e293b;
color:white;
}

button{
padding:12px;
background:#4ade80;
border:none;
border-radius:6px;
font-weight:bold;
cursor:pointer;
}